[Unit]
Description=Spotlight {{item.name}}
Requires=docker.service
After=docker.service

[Service]
Restart=always
TimeoutStartSec=1

ExecStartPre=-/usr/bin/docker kill {{item.container_name}}
ExecStartPre=-/usr/bin/docker rm {{item.container_name}}
ExecStart=/usr/bin/docker run \
    --publish {{item.port}}:8080 \
    {% for env_var in item.env_vars | default([]) %}
    --env {{env_var}} \
    {% endfor %}
    --name {{item.container_name}} {{item.image_name}}:latest

ExecStop=/usr/bin/docker stop -t 1 {{item.container_name}}
